[submodule "2_MyoHardware/2_FeatureExtractionClassification/EMG-Feature-Extraction-Toolbox"]
	path = 2_MyoHardware/2_FeatureExtractionClassification/EMG-Feature-Extraction-Toolbox
	url = https://github.com/JingweiToo/EMG-Feature-Extraction-Toolbox.git
